<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Food</title>
    <link rel="stylesheet" href="/universal.css">
  </head>
  <body>
    <h1>Add Food to <%=restaurants.name%></h1>
    <form action="/restaurants/<%=restaurants.id%>" method="post">
      <input type="text" name="restaurants.food.name" placeholder="Name"><br>
      <input type="text" name="restaurants.food.price" placeholder="Price before Tax"><br>
      <input type="text" name="restaurants.food.rating" placeholder="Rating"><br>
      <input type="text" name="restaurants.food.spicy" placeholder="Spicy?"><br>
      <input type="text" name="restaurants.food.full" placeholder="Were you full?"><br>
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
